@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

.card.challenge {
    height: 200px;
    padding: 20px;
    background-color: #fafafa;
}

#solutionsPlot {
    height: 450px;
}

.card.sourcecode, .userprofile {
    padding: 10px;
}

.userprofile img {
    width: 100%;
}

/* TODO: tranpile from SASS for easy variable replacement? */

/*.container, .bg-light, .navbar-light {*/
    /*background-color: #e8dbce;*/
/*}*/

/*body {*/
    /*background-color: #615648;*/
/*}*/

/*h1, h2 {*/
    /*color: #464646;*/
/*}*/

/*a {*/
    /*color: #565656;*/
/*}*/

/*a:visited {*/
    /*color: #b85b5a;*/
/*}*/