{% extends 'base.html' %}

{% set BASE_URL = '../' %}

{% macro render_source(solution) %}
    <div class="card">
        <div class="col-xs-6">
            <pre>{{ solution.source | safe }}</pre>
        </div>
    </div>
{% endmacro %}

{% block content %}
    <a href="{{ BASE_URL }}">Overview</a> » Year {{ year.year }}
    <h2>{{ year.year }} - {{ year.name }}</h2>
    <card class="container">
        <div class="row">
            <div class="col-12">
                <div id="solutionsPlot"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <i class="fas fa-square" style="color: #6dd36a"></i> Challenge<br/>
                <i class="fas fa-square" style="color: #488a48"></i> Best known
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-6">
                <div class="card challenge">
                    <h4>Size Challenge</h4>
                    <p>Use <strong>{{ target_size }}</strong> or fewer commands.</p>
                    <p>
                        Shortest known solution with >50% success at time of release: <strong>{{ shortest }}</strong>
                        cmds
                    </p>
                </div>
            </div>
            <div class="col-6">
                <div class="card challenge">
                    <h4>Speed Challenge</h4>
                    <p>
                        Complete in <strong>{{ target_speed }}</strong> or fewer seconds, averaged over 25 random tests.
                    </p>
                    <p>
                        Fastest known solution with >50% success at time of release: <strong>{{ fastest }}</strong> secs
                    </p>
                </div>
            </div>
        </div>
    </card>
{% endblock %}

{% macro render_challenge(x, y, color) %}
    {
    type: 'line',
    yref: 'paper',
    x0: {{ x }},
    y0: 0,
    x1: {{ x }},
    y1: 1,
    opacity: .6,
    line: {
    width: 2,
    color: '{{ color }}',
    }
    },
    {
    type: 'line',
    xref: 'paper',
    x0: 0,
    y0: {{ y }},
    x1: 1,
    y1: {{ y }},
    opacity: .6,
    line: {
    width: 2,
    color: '{{ color }}',
    }
    },
    {
    type: 'rect',
    xref: 'x',
    yref: 'y',
    x0: 0,
    y0: 0,
    x1: {{ x }},
    y1: {{ y }},
    fillcolor: '{{ color }}',
    opacity: .3,
    line: {
    width: 0,
    }
    }
{% endmacro %}

{% block scripts %}
    <script type="text/javascript" src="../plotly-1.40.1.min.js"></script>
    <script type="text/javascript">
        var solutionsPlot = document.getElementById('solutionsPlot');
        var xy = new Float32Array([1, 2, 3, 4, 5, 6, 0, 4]);

        data = [{
            x: {{ solution_sizes }},
            y: {{ solution_speeds }},
            type: 'pointcloud',
            text: [{% for s in solution_authors %}"by {{ s or 'Unknown' }}",{% endfor %}],
            mode: 'markers',
            marker: {
                sizemin: 60,
                sizemax: 60,
            }
        }];
        layout = {
            title: 'All solutions',
            xaxis: {
                title: 'Size',
                range: [0, {{ size_range }}]
            },
            yaxis: {
                title: 'Speed',
                range: [0, {{ speed_range }}]
            },
            shapes: [
                {{ render_challenge(target_size, target_speed, '#6dd36a') }},
                {{ render_challenge(shortest, fastest, '#488a48') }},
            ],
            images: [
                {% for size, speed, username in solutions %}
                    {% if username %}
                        {
                            "source": "https://avatars.githubusercontent.com/{{ username }}",
                            "xref": "x",
                            "yref": "y",
                            "x": {{ size }},
                            "y": {{ speed }},
                            "sizex": 5,
                            "sizey": 5,
                            "xanchor": "center",
                            "yanchor": "middle"
                        },
                    {% endif %}
                {% endfor %}
            ]
        };

        Plotly.newPlot('solutionsPlot', data, layout);

        solutionsPlot.on('plotly_click', function (data) {
            let size = data.points[0].x;
            let speed = data.points[0].y;
            window.location.href = 'size-' + size + '_speed-' + speed + '.html'
        });

        window.onresize = function() {
            Plotly.Plots.resize(solutionsPlot);
        };
    </script>
{% endblock %}